.header {
    background-color: $verde;

    // Anidado permitido por scss
    .contenido-header {
        padding: $separacion / 2 0;
        display: flex;
        justify-content: space-between;
        align-items: center; // Alineación vertical
    }

    h1 {
        color: $blanco;
    }
}

.navegacion-principal {
    display: flex;
    gap: 2rem; // Para agregar separación entre elementos con flex
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // column-gap: 2rem; // Para agregar separación entre elementos con grid

    a {
        color: $blanco;
        font-size: 2rem;

        &:hover {
            color: $amarillo; // & hace referencia al elemento padre
        }
    }
}